body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

footer {
    height: 100px;
    display: flex;
    color: #fff;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#links {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
}
footer path {
    fill: #333;
}
#logo {
    width: 90px;
}
#logo:hover {
    transform: scale(1.1);
}
footer a:hover {
    color: #555;
}
footer .copyright {
    color: #333;
    font-size: 14px;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}
